@font-face {
    font-family: 'Pixel Operator';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/PixelOperatorHB.ttf') format('truetype');
}

* {
    font-family: 'Pixel Operator';
    color: white;
}

body {
    background-image: url("images/starfield.svg");
    background-repeat: repeat;
    background-size: auto;
}

a {
    color: #8e8e8e;
    transition: color .15s ease-in-out;
}
a:hover {
    color: #fff;
    text-decoration: none;
}


h1.title {
    font-size: 98pt;
    text-shadow: 4px 4px #a9a9a9, 8px 8px gray, 12px 12px #545454;
    color: orange;
}

h2.sub-title {
    color: orange;
    text-shadow: 3px 3px gray;
}

p.content {
    text-shadow: 2px 2px gray;
}
ul.content {
    text-shadow: 2px 2px gray;
    list-style: none;
}

.container {
    max-width: 960px;
}
  
header.site-header {
    background-color: rgba(255, 255, 255, 0.85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
header.site-header a {
    color: #5e7fe6;
    transition: color .15s ease-in-out;
}
header.site-header a:hover {
    /* color: #9ca7ef; */
    color: #425393;
    text-decoration: none;
}

footer.site-footer {
    margin-top: 100px !important;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
footer.site-footer * {
    color: #606060;
}
footer.site-footer a {
    color: #5e7fe6;
    transition: color .15s ease-in-out;
}
footer.site-footer a:hover {
    /* color: #9ca7ef; */
    color: #425393;
    text-decoration: none;
}


div.bg-image {
    background-color: rgba(54, 54, 54, 0.7);
    border-radius: 28px;
    padding-bottom: 50px;
}

.txt-justify {
    text-align: justify;
}

.txt-vcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt-box {
    margin-top: 0px !important;
    padding-top: 0px !important;
    margin-bottom: 3.25rem !important;
}

/*
 * Extra utilities
 */
.flex-equal > * {
    flex: 1;
}
@media (min-width: 768px) {
    .flex-md-equal > * {
        flex: 1;
    }
}
